<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
				<div th:switch="${users}" class="container my-5">
					<p class="my-5">
						<a href="/user/add" class="btn btn-primary"><i
							class="fas fa-user-plus "> Ajouter un User</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Base de donnée Vide!</h2>
						<div th:case="*">
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th>Nom</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${users}">
										<td th:text="${user.name}"></td>
										</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
</body>
</html>